.nav--bar {
	position: absolute;
	width: 100%;
	height: 55px;

	background: #f55a5a;
	border-radius: 2px;
	flex-direction: row | row-reverse | column | column-reverse;
}

.title {
	position: absolute;

	top: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14.4608px;
	line-height: 18px;
	letter-spacing: -0.075em;
	color: #ffffff;
}
.nav--icon {
	color: #dadada;
}
